.body{
    background-color: rgba(255, 255, 255, 0.781);

}

.navbar {
    background-color: #86d3f7; 
    color: #fff; 
    padding: 10px; 
    text-align: center; 
    box-shadow: 0 2px 5px black; 
    border-radius: 10px;

  }
  

  